<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>


<div class="container" style="background: rgba(95,134,155,0.3) ">

  <img src="https://www.infineon.com/frontend/release_2022-10-1/dist/resources/img/logo-desktop-en.png"  style="width:124px; height:60px; float: right; padding: 4px;">



  <div class="inner container" style="width:70%;margin-left: auto;margin-right: auto; padding: 9px" >
    <h2>Project Name : <b th:text="${ProjectName}"></b></h2>
    <div class="buttons" style="margin-left: auto;margin-right: auto" >
      <h3>
        Requester <b th:text="${requesterName}" ></b>
        wants to have <b th:text="${accessPermission}"></b>
        access on <b th:text="${systemName}"></b>
        system of Project <b th:text="${ProjectName}"></b>
      </h3>





      <div class="section">




        <table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td>
              <table cellspacing="0" cellpadding="0">
                <tr>
                  <td style="border-radius: 2px;" bgcolor="#458847">
                    <a href="http://localhost:8090/requestAction/executeFromMail/1" target="_blank" style="padding: 8px 12px; border: 1px solid #48ab4e;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:530;display: inline-block;">
                      Approve
                    </a>
                  </td>
                  <td style="border-radius: 2px;" bgcolor="#8b0000;">
                    <a href="http://localhost:8090/requestAction/returnToRequesterFormMail/1" target="_blank" style="padding: 8px 12px; border: 1px solid #be2525;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:530;display: inline-block;">
                      Return To Requester
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>


        </table>

      </div>
    </div>

  </div>
</div>


</body>


</html>