<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <title>Request </title>
</head>
<body>

<div class="w3-container">
  <h2>Project Name : <b th:text="${ProjectName}"></b></h2>

  <div class="w3-card-4 w3-dark-grey" style="width:50%">

    <div class="w3-container w3-center">
      <h3>
        Requester : <b th:text="${requesterName}" ></b>
        wants to have <b th:text="${accessPermission}"></b>
        access on <b th:text="${systemName}"></b>
        system of Project : <b th:text="${ProjectName}"></b>
      </h3>

      <h3>Requester ID :<b th:text="${requesterId}"></b></h3>
      <img src="https://www.infineon.com/frontend/release_2022-10-1/dist/resources/img/logo-desktop-en.png" alt="Avatar" style="width:80%">


      <div class="w3-section">
        <button class="w3-button w3-green">Approve</button>
        <button class="w3-button w3-red" href="${pageContext.servletContext.contextPath}/requestAction/returnToRequesterFormMail/1">ReturnToRequester</button>

        <form action="${pageContext.servletContext.contextPath}/requestAction/returnToRequesterFormMail/" method="POST">
          <input type="number" id="request" name="request"><br>
          <button>Submit</button>
        </form>

      </div>
    </div>

  </div>
</div>


</body>
</html>