<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>


<div class="container" style="background: rgba(95,134,155,0.3) ">

  <img src="https://www.infineon.com/frontend/release_2022-10-1/dist/resources/img/logo-desktop-en.png"  style="width:124px; height:60px; float: right; padding: 4px;">



  <div class="inner container" style="width:70%;margin-left: auto;margin-right: auto; padding: 9px" >
    <h2>Project Name : <b th:text="${ProjectName}"></b></h2>
    <div class="buttons" style="margin-left: auto;margin-right: auto" >
      <h3>
        manager <b th:text="${requesterName}" ></b>
        respond to  <b th:text="${accessPermission}"></b>
        access on <b th:text="${systemName}"></b>
        system of Project <b th:text="${ProjectName}"></b>
        current request status <b th:text="${requestStatus}"></b>
      </h3>





      <div class="section">






        </table>

      </div>
    </div>

  </div>
</div>


</body>


</html>